body {
    color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
.text {
    position: absolute;
    transform: translateX(-100%); /* Move text to the left of the line */
    /* white-space: nowrap; /* Prevent text from wrapping */
    /* overflow-wrap: break-word; /* Break words to prevent overflow */
    overflow: visible;
    text-align: right;
    padding: 1%;
}
.text.right {
    transform: translateX(0); /* Move text to the right of the line */
    overflow: visible;
    text-align: left;
    padding: 1%;
}

body {
	background: linear-gradient(70deg, #c0cbe0, #d9f1f1, #c9dfd0,#daedee);
	background-size: 300% 100000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}